<!-- extend index.html with jinja template -->
{% extends "index.html" %}

<!-- display attractions section in index.html-->
{% block attractions %}

        <section class="attractions-section bg-light" id="attractions">
            <div class="container px-4 px-lg-5">
                
                <!-- Featured Attraction row (displays first result)-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" style="height: 540px; width: 100%; object-fit: cover; overflow: hidden;" src={{ formatImage(results[0]['image_source_primary']) }} alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">

                            <!-- attraction heading -->
                            <h4>{{ results[0]['name'] }}</h4>
                            
                            <div class="d-flex" style="flex-direction: row;">
                                <div class="d-flex" style="flex-direction: column; flex-basis: 50%; border-right: 1px solid #4a4e8a;">

                                    <!-- label for category and location -->
                                    <p class="mb-0 text-black-50">{{ convertType(results[0]['types'][0]) }}</p><p class="mb-0 fs-6" style="color:#4a4e8a">{{ results[0]['formatted_address'] }}</p>

                                    <!-- label for price -->
                                    {% if results[0]['price_level'] == 0 %}
                                    <p class="mb-0 text-black-50">Free</p>
                                    {% else %}
                                    <p class="mb-0 text-black-50">{% for i in range(0, results[0]['price_level']) %}${% endfor %}</p>
                                    {% endif %}

                                </div>
                                <div class="d-flex" style="flex-direction: column; flex-basis: 50%;">
                                    <!-- if open information unavailable, don't show -->
                                    {% if not 'opening_hours' in results[0] %}
                                                <p class="mb-0 text-white-50"></p>
                                    {% else %}
                                        <!-- label for open/closed -->
                                        {% if results[0]['opening_hours']['open_now'] == True %}
                                        <p class="mb-0 text-black-50"><font color="green">Open</font> Now</p>
                                        {% else %}
                                        <p class="mb-0 text-black-50"><font color="red">Closed</font> Now</p>
                                        {% endif %}
                                    {% endif %}
                                    

                                    <!-- label for rating -->
                                    <p class="mb-0 text fs-4" style="text-align: match-parent; color:#4a4e8a">{{ results[0]['rating'] }}</p>

                                </div>
                            </div>

                            <!-- label for image attribution -->
                            {% autoescape off %}
                            <p class='mb-0 text-black-50 fs-7'>Attribution:</p>
                            {{ results[0]['image_attribution'] }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                
                <!-- Loop through all attractions in filtered results -->
                {% for r in range(1, results| length) %}

                <!-- Attractions -->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" style="height: 360px; width: 100%; object-fit: cover; overflow: hidden;" src={{ formatImage(results[r]['image_source_primary']) }} alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">

                                    <!-- attraction heading -->
                                    <h4 class="text-white">{{ results[r]['name'] }}</h4>

                                    <div class="d-flex" style="flex-direction: row;">
                                        <div class="d-flex" style="flex-direction: column; flex-basis: 50%; border-right: 1px solid #cccfff;">

                                            <!-- label for category and location -->
                                            <p class="mb-0 text-white-50">{{ convertType(results[r]['types'][0]) }}</p><p class="mb-0 fs-6" style="color:#cccfff">{{ results[r]['formatted_address'] }}</p>
                                            
                                            <!-- label for price -->
                                            {% if (results[r]['price_level'] == 0) %}
                                            <p class="mb-0 text-white-50">Free</p>
                                            {% else %}
                                            <p class="mb-0 text-white-50">{% for i in range(0, results[r]['price_level']) %}${% endfor %}</p>
                                            {% endif %}

                                        </div>
                                        <div class="d-flex" style="flex-direction: column; flex-basis: 50%;">
                                            <!-- if open information unavailable, don't show -->
                                            {% if not 'opening_hours' in results[r] %}
                                                <p class="mb-0 text-white-50"></p>
                                            {% else %}
                                                <!-- label for open/closed -->
                                                {% if results[r]['opening_hours']['open_now'] == True %}
                                                <p class="mb-0 text-white-50"><font color="green">Open</font> Now</p>
                                                {% else %}
                                                <p class="mb-0 text-white-50"><font color="red">Closed</font> Now</p>
                                                {% endif %}
                                            {% endif %}

                                            <!-- label for rating -->
                                            <p class="mb-0 text fs-3" style="text-align: match-parent; color:#cccfff; padding-top: 0.5rem;">{{ results[r]['rating'] }}</p>

                                        </div>
                                    </div>

                                    <!-- label for image attribution -->
                                    {% autoescape off %}
                                    <p class='mb-0 text-white-50 fs-7'>Attribution:</p>
                                    {{ results[r]['image_attribution'] }}
                                    {% endautoescape %}
                                    
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
        </section>
{% endblock %}
