<!-- extend layout.html with jinja template -->
{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

<!-- main content block in layout.html-->
{% block main %}

<!-- help/FAQ section -->
<section class="faq-container">
    <div class="container px-4 px-lg-5">
        
        <!-- help heading -->
        <h1 class="faq-heading" style="color:antiquewhite">Help</h1>
        <h1>────</h1>
            
            <!-- first help guideline/FAQ -->
            <div class="faq-one">
                <!-- faq question -->
                <h3 class="faq-page">Getting Started Guide</h3>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>To get started in your search for attractions:
                        <br>1.) Click "Get Started" on home page or "Filter" on upper right-hand corner
                        <br>2.) Fill in desired filters--leave empty to show all attractions
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note: Filters are case-insensitive
                        <br>3.) Click "Submit" to view list of attractions that fit criteria and information</p>
                </div>
            </div>
            <hr class="hr-line">
            
            <!-- second help guideline/FAQ -->
            <div class="faq-two">
                <!-- faq question -->
                <h3 class="faq-page">No results found for my desired filters?</h3>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>	TravelMonkey highlights and recommends only the best attractions and points of interest in order to make your travel experience as seamless and
                        memorable as possible. As we are selective, you may have to expand your filters to find a thorough and complete list of potential options.</p>
                </div>
            </div>
            <hr class="hr-line">

            <!-- third help guideline/FAQ -->
            <div class="faq-three">
                <!-- faq question -->
                <h3 class="faq-page">What is the score rating?</h3>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Our score ratings are derived from Google Reviews, which has thousands of testimonials and give an accurate
                        depication of how past visitors felt about their experience.</p>
                </div>
            </div>
            <hr class="hr-line">

            <!-- fourth help guideline/FAQ -->
            <div class="faq-four">
                <!-- faq question -->
                <h3 class="faq-page">What is the show more button?</h3>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>The show more button serves to give patrons a more widespread search of attractions, and will reveal a longer list of potential
                        points of interest within a wider radius and greater variety!
                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <!-- fifth help guideline/FAQ -->
            <div class="faq-five">
                <!-- faq question -->
                <h3 class="faq-page">Coronavirus (COVID-19) information for experiences</h3>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Be sure to double-check with local guidelines to ensure a smooth travel experience, as well as ensure the
                        availabilty of specific attractions by checking official websites.</p>
                </div>
            </div>
            <hr class="hr-line">
    </div>
</section>


{% endblock %}